* {
  box-sizing:
    border-box;
}

:root {
  --fondo: #430f58;
  --contenedor: #8c1d5f;
  --items: #c6445a;
  --boton: #ed7b51;
  --info: #feb851;
  --infoH: #feb951d7;
  --desc: #f9f871;
  --fullwidth: 100%;
}

.first-color {
  background: #d5def5;
}


body {
  background-color: var(--fondo);
  border: 2px solid black;
  padding: 2%;
}

header {}

main {
  background-color: var(--contenedor);
  border: 2px solid blueviolet;
  padding: 2%;
}

section {
  border: 2px solid green;
  /*
  padding:  15px 25px 15px 25px;
  padding: 15px 25px;
  */
  padding: 25px 45px 25px;
  border-radius: 4px;
}

h1,
h2 {
  text-align: center;
}

.container {
  width: auto;
  height: auto;
  padding: auto;
  border: 2px solid pink;
  overflow: auto;
}

.texto {
  font-size: 96px;
}

.container_flex {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 200px;
}

.item_flex {
  border: 1px solid goldenrod;
  width: 75px;
}

.mensaje {
  widht 500px height: 100px;
}