* {
  box-sizing: border-box;
}

:root {
  --fondo: #430f58;
  --contenedor: #8c1d5f;
  --items: #c6445a;
  --boton: #ed7b51;
  --info: #feb851;
  --infoH: #feb951d7;
  --desc: #f9f871;
  --fullwidth: 100%;
}

.collapsible {
  background-color: var(--info);
  color: rgb(39, 36, 36);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: var(--infoH);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--desc);

}

.container {
  width: auto;
  height: auto;
  padding: auto;
  border: 2px solid pink;
  overflow: auto;
}

.texto {
  font-size: 96px;
}

body {
  background-color: var(--fondo);
  font-family: monospace, Helvetica, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: clamp(1rem, 4vw, 2rem);
}

.titulo_productos {
  text-align: center;
}

.titulo_box_model {}





.contenedor_flex {
  border: 1px solid rgb(75, 4, 57);
  background-color: var(--contenedor);
  padding: 1%;
  /* margin: 2%; */
  align-items: center;
  display: flex;


  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 5px;
}

.item_flex {
  flex: 1;
  max-width: 30%;
  height: auto;
  border: 1px solid rgb(116, 8, 98);
  background-color: var(--items);
  overflow: auto;
  text-align: center;
  margin-right: auto;
  border-radius: 4px;
  padding: 5px;
  flex-shrink: 1;
  align-self: center;
}

h1,
h2 {
  text-align: center;
}


a {
  color: aliceblue;
  margin-right: auto;
  padding: 10px 40px;
}

a:visited {
  color: rgb(0, 0, 0);
}

button {
  background-color: var(--boton);
  border-radius: 4px;
  margin: auto;
  font-size: clamp(1rem, 4vw, 2rem);
}

.mensaje {
  widht 500px height: 100px;
}